form(action="/connect" method="post")
    h2 Se connecter
    hr
    div.mb-3.mt-3
        label(for="email" class="form-label") Adresse Email:
        input#email(type="email" class="form-control" placeholder="nom.e0000000@etud.univ-ubs.fr" name="email" required)
    div
        label(for="password" class="form-label") Mot de passe:
        input#password(type="password" class="form-control" placeholder="Password" name="password" required)
    include error
    div.text-center.mt-4
        button(type="submit" class="btn btn-primary w-100") Se connecter
        p.mt-2.mb-0
            | Pas de compte?&nbsp;
            a(href="/register") S'enregistrer