section.p-4.bg-white.rounded-4.h-100.shadow.w-50.mx-auto.overflow-auto
    h2 Connecté
    hr
    p Bonjour, vous êtes connecté en tant que #{user.email}.
    p
        | Vous pouvez vous déconnecter en cliquant&nbsp;
        a(href='/disconnect') ici
        | .
