html
    include head
    body
        include header
        main.d-flex.flex-column.justify-content-center.align-items-center.h-100
            section.my-3.p-4.bg-white.rounded-4.shadow.w-50.mx-auto
                h2 D&eacute;connexion
                hr
                .vh-50
                    p
                        | Vous &ecirc;tes bien d&eacute;connecter. Retournez a la page principale&nbsp;
                        a(href='/') ici
                        | .
        include footer