footer.py-3.bg-white.fixed-bottom.w-100.mt-5
    p.text-center.m-0
        | &copy; IUT Vannes -&nbsp;
        a(href='https://www.iutvannes.fr/') IUTVannes.fr
        |  -&nbsp;
        a(href='/apropos') A propos