doctype html
html(lang="fr")
  include head.pug
  body.vh-100
    header.d-flex.justify-content-center.px-5
      img(src="/images/logo.png" class="img-fluid w-50 p-5" alt="Sport Track Logo")
    main.mb-5.h-50
      div.d-flex.h-100
        article.p-4.bg-white.rounded-4.shadow.w-50.mx-auto.mb-5.overflow-auto
          h2 SportTrack : Votre Assistant de Suivi Sportif
          hr
          h4 En Bref
          p SportTrack est une application Web conçue pour les sportifs équipés d'une montre "cardio/gps". L'application vous permet de gérer vos activités physiques en toute simplicité.
          h4 Fonctionnalités Clés
          ul
            li
              strong Gestion de Compte
              | : Créez et personnalisez votre profil avec des informations telles que votre nom, âge, taille et poids.
            li
              strong Connexion Sécurisée
              | : Utilisez votre adresse électronique et votre mot de passe pour accéder à vos données.
            li
              strong Suivi d'Activités
              | : Importez, visualisez et gérez vos fichiers d'activités sportives au format JSON. Obtenez des statistiques détaillées comme la distance parcourue et les fréquences cardiaques.
          p L'application est développée en PHP et Javascript, avec une base de données SQLite3 pour le stockage des informations.
        article.p-4.bg-white.rounded-4.shadow.w-25.mx-auto.mb-5.overflow-auto
          include connect
    include footer